@font-face {
    font-family: "vazir";
    src: url("../fonts/vazir/Vazir-Light.ttf");
}

/* ستاره یعنی تمام المنت هایی که داخل سند اچ تی ام المون هست رو برو و سلکت کن */
* {
    font-family: "vazir";
}

body {
    background-color: rgb(113, 117, 117);
}

.header {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

a {
    text-decoration-line: none;
}

.gap {
    margin-left: 50px;
}

.img > img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: solid 20px white;
    outline: solid 1px black;
}

.content > .img {
    width: 50vw;
}

.content > .name {
    text-align: center;
    background-color: white;
    border-radius: 10px;
    width: 50vw;
}

h1 {
    margin: 0px;
}

p {
    text-align: justify;
    direction: rtl;
}